* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  font-size: 2rem;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: #e0e0e0;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
#rock,
#paper,
#scissors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  font-size: 12rem;
}

.score_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

.score_parent .image {
  height: 200px;
  margin-top: 50px;
}

.result,
.score {
  text-align: center;
}

.result {
  padding-top: 100px;
}

.buttons:hover {
  padding: 20px;
  cursor: pointer;
}
#scissors:hover {
  background: linear-gradient(to right, #fb3d78, #304efb);
}
#paper:hover {
  background: linear-gradient(to right, #fca5c5, #657eff);
}
#rock:hover {
  background: linear-gradient(to right, #ff6a88, #4f75fb);
}
.buttons {
  padding: 20px;
}

.shakeMyHands {
  animation: shakeMyHands 0.6s infinite ease-in-out;
}

.shakeComputerHands {
  animation: shakeComputerHands 0.5s infinite ease-in-out;
}

@keyframes shakeMyHands {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes shakeComputerHands {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
  }

  .image {
    font-size: 8rem;
  }

  .result {
    padding-top: 0;
  }
}

@media (max-width: 420px) {
  body {
    font-size: 14px;
  }

  .image {
    font-size: 6rem;
  }

  .root {
    gap: 1rem;
  }

  .score_parent .image {
    height: 100px;
    margin-top: 20px;
  }

  .result {
    padding-top: 50px;
  }
}
