* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  font-size: 2rem;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
#rock,
#paper,
#scissors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  font-size: 12rem;
}

.score_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

.score_parent .image {
  height: 200px;
  margin-top: 50px;
}

.result,
.score {
  text-align: center;
}

.result {
  padding-top: 100px;
}

.buttons:hover {
  background-color: rgb(226, 243, 248);
  padding: 20px;
}
.buttons {
  padding: 20px;
}
